body {
   
    font-family:  cursive;
    text-shadow: 2ch;
    margin: 20px;

  }
  
  h1 {
    font-family: cursive,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f1822;
    font-size: 100px;
    text-shadow: 2px 2px 2px rgb(119, 20, 50);
    text-align: center;
    margin-bottom: -2px;
    margin-top: -3px;
  }
  
  form {
    margin-bottom: 20px;
    text-align:  center;
    
  }
  div.box{
    width: 500px;
    display: inline-table;
    border: 2px solid rgba(35, 11, 19, 0.099);
    margin: 20px;
    border-radius: 5px;
    
    box-shadow: 0 8px 32px 0 #530e37;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(100, 100, 100, 0.18);
  }
  label {
    font-family: cursive;
    display: block;
    margin-top: 10px;
    color:rgb(78, 34, 34);
    
  }

  button {
    padding: 10px;
  }
  
  

  